body {
	color: #646468;
}

.nav-button {
	margin-right: 10px;
}

a.button-stripe {
	width: 45px;
	height: 33px;
	background-image: url(../img/stripes.png);
	display: inline-block;
	background-repeat: no-repeat;
}

a.button-check {
	width: 45px;
	height: 33px;
	background-image: url(../img/check.png);
	display: inline-block;
	background-repeat: no-repeat;
}

/* ГРАДИЕНТ */

.btn {
  background-image:linear-gradient(to bottom, #fefefe 0%, #e7e7e7 100%);
}

/* ОСОБАЯ КНОПКА */

.second {
	color: white;
	background-color: #fbca68;
	border-radius: 2px;
	padding: 2px;
	padding-left: 3px;
	margin-left: 2px;
}

/* ШРИФТЫ */

.bold {
	font-weight: bold;
}

.margin3 {
	margin-right: 3px;
}

.green-span {
	color: white;
	background-color: #84d060;
	border-radius: 2px;
	padding: 2px;
	padding-left: 3px;
	margin-left: 2px;

}

/* ЗАГОЛОВОК ТАБЛИЦЫ */

.list {
	height: 20px;
	background-image: url(../img/list.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.no-bottom {
	margin-bottom: -1px;
}

th {
	font-weight: normal;
}

.dot {
	text-decoration: none;
	color: #646468;
	border-bottom: 1px dotted #646468;
}

.dot:hover{
	color: #444444;
	text-decoration: none;
}

.table-striped {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}



.gradient-tr {
	background-image:linear-gradient(to bottom, #fefefe 0%, #e7e7e7 100%);
}

.table-no-padding > tbody > tr > th {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 3px;
}

.table-no-padding > tbody > tr > th:first-child {
	padding-left: 14px;
}

.form-control {
	height: 30px;
}

.first-select {
	width: 97%;
}

.date-picker-text {
	padding-left: 30px;
	padding-top: 5px;
}

.hero-unit input {
	cursor: pointer;
}

.marginl5 {
	margin-left: 5px;
}

.table-bordered {
	font-size: 12px;
}

.table-bordered > tbody > tr > th {
	padding: 5px;
}

.out-wrap {
	border: 1px solid #ddd;
	padding-bottom: 0;
}	

.wrap {
	margin: 5px;
	padding: 0;
	margin-bottom: -15px;
}

.loupe {
	text-align: center;
}


a {
  color: white;
  text-decoration: none;
}

a:hover
 {
  color: #f2f2f2;
  text-decoration: underline;
}

ul,
ol {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1350px) {
  .container {
    width: 1300px;
  }
}

.btn {
  display: inline-block;
  padding: 7px 12px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn .caret {
  margin-left: 6px;
}

.nav > li > a {
  position: relative;
  display: block;
}

.navbar {
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 40px;
  list-style: none;
  background-color: #4a4e59;
  border-radius: 4px;
}

.breadcrumb > .active {
  color: white;
}

.mw	{
	min-width: 1200px;
}	

.navbar-default .navbar-nav > li > a {
	border: 1px solid #DFDFDF;
	padding: 5px 10px;
}

#toggler {
	display: inline-block;	
	border: 1px solid #DFDFDF;
	padding: 5px 10px;
	background-color: green;
	color: 	white;
	width: 100px;	
	margin: 20px;	
}
